
<div class="row p-3 mb-2 bg-info text-white">
  <div class="col-sm-12">
    <br>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <img
      src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.0-9/24176652_1659653547418187_3621194512196575998_n.jpg?_nc_cat=0&oh=71fd9697c4360d760832df1e6e1b29a2&oe=5BCBF3C2"
      alt="fotoperfil"
      class="imagen-perfil" width="50" height="50"> Wilson Ramos
    <button class="btn btn-light" routerLink="/login">Cerrar Sesion</button>
  </div>

  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <br>
    <br>
    <div class="input-group input-group-sm mb-3">
      <input type="buscar" class="form-control" placeholder="Buscar Usuario, Modelo papá ó Modelo hijo"
             aria-label="Buscar">
    </div>
  </div>
  <div class="col-sm-2">
    <br>
    <br>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
  </div>
  <div class="col-sm-2"></div>

</div>


<h1 class="font-weight-bold p-3 mb-2 bg-info text-white" align="center">Usuarios</h1>


<div id="carouselExampleControls" class="carousel slide p-3 mb-2 bg-info text-white" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2" *ngFor="let usuario of arregloUsuarios">
          <app-usuarios [texto]="usuario.texto" [imagen]="usuario.imagen"></app-usuarios>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2" *ngFor="let usuario of arregloUsuarios2">
          <app-usuarios [texto]="usuario.texto" [imagen]="usuario.imagen"></app-usuarios>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <button class="btn-dark" [disabled]="comprobarArreglo()===false">Anteriores (4)</button>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <button class="btn-dark" [disabled]="comprobarArreglo()===false" >Siguientes (4)</button>
  </a>
</div>


<h1 class="font-weight-bold p-3 mb-2 bg-info text-white" align="center">Equipos de Futbol</h1>


<div id="carouselExampleControls2" class="carousel slide p-3 mb-2 bg-info text-white" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-sm-6" *ngFor="let equipo of arregloEquipos">
          <app-equipofutbol [texto]="equipo.texto" [imagen]="equipo.imagen" [texto2]="equipo.texto2"></app-equipofutbol>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-6" *ngFor="let equipo of arregloEquipos2">
          <app-equipofutbol [texto]="equipo.texto" [imagen]="equipo.imagen" [texto2]="equipo.texto2"></app-equipofutbol>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
    <button class="btn-dark" [disabled]="comprobarArreglo2()===false">Anteriores (2)</button>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
    <button class="btn-dark" [disabled]="comprobarArreglo2()===false" >Siguientes (2)</button>
  </a>
</div>


<h1 class="font-weight-bold p-3 mb-2 bg-info text-white" align="center">Jugadores</h1>

<div id="carouselExampleControls3" class="carousel slide p-3 mb-2 bg-info text-white" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2" *ngFor="let jugador of arregloJugador">
          <app-jugador [texto]="jugador.texto" [imagen]="jugador.imagen" [texto2]="jugador.texto2" [text3]="jugador.text3" [texto4]="jugador.texto4"></app-jugador>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2" *ngFor="let jugador of arregloJugador2">
          <app-jugador [texto]="jugador.texto" [imagen]="jugador.imagen" [texto2]="jugador.texto2" [text3]="jugador.text3" [texto4]="jugador.texto4"></app-jugador>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
    <button class="btn-dark" [disabled]="comprobarArreglo3()===false">Anteriores (4)</button>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
    <button class="btn-dark" [disabled]="comprobarArreglo3()===false" >Siguientes (4)</button>
  </a>
</div>


