img {
  width: 100%;
  max-width: 45px;
}

.imagen-perfil {
  border-style: solid;
  border-color: black;
}
.borde{
  border-style: solid;
  border-width: 2px;
  border-color: ghostwhite;
}
.borde:hover{
  border-color: red;
}

.contenedor{
  text-align: center;
  color: black;
}

.contenedor:hover{
  color: red;
  cursor: pointer;
}
