
<div class="row">
  <div class="col-sm-12">
    <br>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <img
      src="https://scontent.fuio1-1.fna.fbcdn.net/v/t1.0-9/24176652_1659653547418187_3621194512196575998_n.jpg?_nc_cat=0&oh=71fd9697c4360d760832df1e6e1b29a2&oe=5BCBF3C2"
      alt="fotoperfil"
      class="imagen-perfil" width="50" height="50"> Wilson Ramos
    <button class="btn btn-light" routerLink="/login">Cerrar Sesion</button>
  </div>
</div>

  <h1 class="font-weight-bold " align="center">Transferencia</h1>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2" *ngFor="let usuario of arregloUsuarios">
    <app-usuarios [texto]="usuario.texto" [imagen]="usuario.imagen"></app-usuarios>
  </div>
  <div class="col-sm-2"></div>
</div>

<br>
<br>
<br>

<div class="row ">
  <div class="col-sm-2"></div>
  <div class="col-sm-2" *ngFor="let jugador of arregloJugador">
    <app-jugador [texto]="jugador.texto" [imagen]="jugador.imagen" [texto2]="jugador.texto2" [text3]="jugador.text3" [texto4]="jugador.texto4"></app-jugador>
  </div>
  <div class="col-sm-2"></div>
</div>


<div class="row ">
  <div class="col-sm-2"></div>
  <div class="col-sm-2" *ngFor="let jugador of arregloJugador2">
    <app-jugador [texto]="jugador.texto" [imagen]="jugador.imagen" [texto2]="jugador.texto2" [text3]="jugador.text3" [texto4]="jugador.texto4"></app-jugador>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2">
    <button class="btn btn-dark">Cargar mas</button>
  </div>
  <div class="col-sm-5"></div>
</div>
